@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 7;
}

.section .bottomLine {
	position: absolute;

	width: 8300px;
	height: auto;

	left: 50%;
	bottom: -285px;
	translate: -50% 0;

	z-index: 5;
	pointer-events: none;
}

.section .inside {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;

	padding: 70px 0px;
	padding-bottom: 140px;
}

.inside .title {
	position: relative;
	width: 100%;
	max-width: 470px;
	margin: 0 auto;

	text-align: center;

	color: $color-pink;
	font-family: $font2;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	text-shadow: 0px 0px 57.12px $color-pink;

	.tokenomicsTitle {
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		width: 1222px;
		height: auto;

		z-index: -1;
		pointer-events: none;
	}
}

.inside .points {
	position: relative;
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
	margin-top: 80px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 75px;
}

.inside .points .onePoint {
	position: relative;
	width: calc(33% - 50px);
}

.inside .points .onePoint .icon {
	position: relative;
	width: 150px;
	height: auto;
	margin: 0 auto;
}

.inside .points .onePoint .text {
	position: relative;
	width: 100%;
	margin-top: 20px;

	text-align: center;

	color: $color-pink;
	font-family: $font1;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

// RWD
@media (max-width: 700px) {
	.inside .points {
		gap: 40px;
	}

	.inside .points .onePoint {
		width: calc(50% - 20px);
	}
	.inside .title {
		text-shadow: 3px 3px 1px #000;
	}
}

@media (max-width: 450px) {
	.inside .points {
		gap: 24px;
		margin-top: 0px;
	}

	.inside .points .onePoint {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
}
